main {
    height: auto;
}

main:after {
    content: "";
    z-index: -1;
    opacity: 0.7;
    background-image: url('../../assets/challenge-banner.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}